html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.text {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 96%;
    margin-left: 2%;
    margin-right: 6%;
}
.topic-title {
    margin-top: 22px;
    margin-bottom: 0px;
    text-align: left;
    font: bold 16pt 'Arial';
}

.title
{
    font: bold 22pt 'Arial';
    text-align: center;
}

.lastupdated
{
    text-align: center;
    font: 11pt 'Arial';
    color: #999999;
    line-height: 17px;
    margin-top: 8px;
}

.subtopic
{
    font: bold 12pt 'Arial';
    line-height: 18px;
    margin-top: 21px;
    margin-bottom: 0px;
}

.linebreak
{
    display: block;
    width: 0px;
    height: 9px;
}

br{
    height: 9px;
}

li 
{
    margin-top: 4px;
    line-height: 19px;
    font: 11pt 'Arial';
}

ul, ol{
    margin-top: 5px;
}

p {
    margin-top: 5px;
    margin-bottom: 0px;
    font: 11pt 'Arial';
    text-align: justify;
    text-justify: inter-word;
    line-height: 19px;
}

@media only screen and (min-width: 740px){
	.text{
        width: 699px;
    }
}